{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "jsdoc",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:@typescript-eslint/recommended"
  ],
    "rules": {
        "linebreak-style": 0,
        "indent": [
            "error",
            4
        ],
        "quotes": [
            "error",
            "double"
        ],
        "@typescript-eslint/no-explicit-any": 0,
        "new-cap": [
            "error",
            {
                "capIsNewExceptions": [
                    "Object",
                    "String",
                    "Optional",
                    "Number",
                    "Boolean",
                    "Any",
                    "Union",
                    "Intersect",
                    "Record",
                    "Array",
                    "Enum",
                    "Nullable"
                ]
            }
        ]
    },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
    "browser": false
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  }
}